
a{
	color:#1f4068;
}

blockquote {
    font-size: 90%;
    color: grey;
}

nav a, footer div a{
	margin:0px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: 'Garamond';
	font-size: '10px'
	margin: auto;
	padding:20px;
	max-width: 800px;
	text-align: left;
	background-color:white;
}

img {
    max-width: 50%;
    max-height: 50%;
	align: left;
}

#left {
	float: left;
	margin-right: 15px;
}
